---
// The SITE import is no longer needed as we're using a static image
// import { SITE } from 'astrowind:config'; 
---

<div class="flex items-center">
  <img 
    src="/assets/images/appaxon_logo.png" 
    alt="Appaxon Logo" 
    class="h-8 w-auto"
  />
  <span class="ml-2 self-center text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    AppAxon
  </span>
</div>
